# <a id="#">Task 1.4 – Writing loops in Python</a>

**<a id="#">Task 1.4.1.</a>** Use a `while`-loop to write the numbers from 5 to 15.

**Hint:** The Syntax of a `while`-loop is
```python
while condition:
    operation
```

Example:
```python
i = 0
while i < 10:
    print(i)
    i = i + 1
```

**Hint:** Variables and text can be printed using `print`, for example:
```python
print(i)
print('The result is i=' + str(i))
```

**Hint:** If your code cell keeps running seemingly forever, you have probably produced an *infinite loop*. In that case, you can interrupt the execution of the code cell by clicking the □ button which appears right to the left of the executed cell, and then fix the problem. If the □ button does not appear, try clicking the cell first!

In [6]:
i = 5
while i < 15:
    print('The result is i='+str(i))
    i = i + 1

print('The final result is '+ str(i))

The result is i=5
The result is i=6
The result is i=7
The result is i=8
The result is i=9
The result is i=10
The result is i=11
The result is i=12
The result is i=13
The result is i=14
The final result is 15

<div class="alert alert-block alert-success"><b>Hint:</b> Now might be a good moment to commit and push your progress :) preferably, you should be doing this <em>at least</em> after completing each task. It doesn't harm if you do it sometimes in between too, e.g., when you feel like you have had some significant progress with a task.</div>

**<a id="#">Task 1.4.2.</a>** Use a `while`-loop to compute and write the squares of the numbers from 1 to 20. The result should be shown like:
```
1 -> 1
2 -> 4
3 -> 9
…
20 -> 400
```
**Hint:** Square of a number `i` can be computed by `i ** 2` or `i * i`.

In [13]:
i = 1
a = i ** i
while (i < 21):
    print (str(i) + ' -> ' + str(i ** i))
    i = i + 1
    a = i ** i

print ('The final square is ' + str(a) + '.')

1 -> 1
2 -> 4
3 -> 27
4 -> 256
5 -> 3125
6 -> 46656
7 -> 823543
8 -> 16777216
9 -> 387420489
10 -> 10000000000
11 -> 285311670611
12 -> 8916100448256
13 -> 302875106592253
14 -> 11112006825558016
15 -> 437893890380859375
16 -> 18446744073709551616
17 -> 827240261886336764177
18 -> 39346408075296537575424
19 -> 1978419655660313589123979
20 -> 104857600000000000000000000
The final square is 5842587018385982521381124421.

**<a id="#">Task 1.4.3.</a>** Copy your solution from **Task 1.4.2** and modify the code such that *the squares are only computed for even numbers*.

In [20]:
i = 0
a = i ** i
while (i < 21):
    print (str(i) + ' -> ' + str(i ** i))
    i = i + 2


    

print ('The final square is ' + str(a) + '.')

0 -> 1
2 -> 4
4 -> 256
6 -> 46656
8 -> 16777216
10 -> 10000000000
12 -> 8916100448256
14 -> 11112006825558016
16 -> 18446744073709551616
18 -> 39346408075296537575424
20 -> 104857600000000000000000000
The final square is 1.

**<a id="#">Task 1.4.4.</a>** Use a `for`-loop to compute the sum of the numbers from 1 to 100. The correct result would be 5050.

**Hint:** The Syntax of a `for`-loop is
```python
for i in iterable:
    operation
```

Example:
```python
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    print(i)
```

**Hint:** An `iterable` sequence of numbers from `i` (inclusive) to `j` (exclusive) can be constructed using `range(i, j)`.

In [42]:
j = 1
for i in [range (1,100)]:
    while j < 101:
        j = j + 1
        b = j + j
        print(b)

4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202

**<a id="#">Task 1.4.5.</a>** Generate the times table ("Kleines Einmaleins") by using two nested for loops, i.e., using an outer and an inner loop. The result should be shown like:
```
1 2 3 … 10
2 4 6 … 20
3 6 9 … 30
…
10 20 30 … 100
```

**Hint:** The function `print(s, end='')` works like `print(s)` but does *not* append a line break (as `print(s)` does).

In [63]:


for i in range (1, 11):
    for a in range (1, 11):
        print(i * a, end='    ')


    print ()

1    2    3    4    5    6    7    8    9    10
2    4    6    8    10    12    14    16    18    20
3    6    9    12    15    18    21    24    27    30
4    8    12    16    20    24    28    32    36    40
5    10    15    20    25    30    35    40    45    50
6    12    18    24    30    36    42    48    54    60
7    14    21    28    35    42    49    56    63    70
8    16    24    32    40    48    56    64    72    80
9    18    27    36    45    54    63    72    81    90
10    20    30    40    50    60    70    80    90    100

**<a id="#">Task 1.4.6.</a>** Copy your solution from **Task 1.4.5** and modify the code such that *values below 10 in the times table have a leading zero* (e.g., `05` instead of only `5`). This can be achieved, for example, by using an `if`-statement.

**Hint:** The Syntax of an `if`-statement is
```python
if condition:
    operation1
else:
    operation2
```

Example:
```python
if val < 5:
    print('val is less than 5')
else:
    print('val is larger or equal 5')
```

In [65]:
for i in range (1, 11):
    for a in range (1, 11):
        print(i * a, end='    ')
    if i * a < 10:
        print('0' + str(i * a))
    else:
        print (i * a)

    print ()

1    2    3    4    5    6    7    8    9    10    10

2    4    6    8    10    12    14    16    18    20    20

3    6    9    12    15    18    21    24    27    30    30

4    8    12    16    20    24    28    32    36    40    40

5    10    15    20    25    30    35    40    45    50    50

6    12    18    24    30    36    42    48    54    60    60

7    14    21    28    35    42    49    56    63    70    70

8    16    24    32    40    48    56    64    72    80    80

9    18    27    36    45    54    63    72    81    90    90

10    20    30    40    50    60    70    80    90    100    100